<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anteeo.com.pl.zoltansport" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="anteeo.com.pl.zoltansport.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OrdersActivity"
            android:label="@string/title_activity_orders"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ReadyOrderDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_order_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AdoptionReleaseStockActivity"
            android:label="@string/title_activity_inventory"
            android:screenOrientation="portrait"
            android:theme="@style/AppOverlayTheme" >
        </activity>
        <activity
            android:name=".UnknownBarcodeActivity"
            android:label="@string/title_activity_unknown_barcode" >
        </activity>
        <activity
            android:name="SearchViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.zbartest.ScannerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>